ffbuild/*
INSTALL.md
RELEASE_NOTES
RELEASE
Changelog
CREDITS
COPYING.*
*.a
*.o
*.o.*
*.d
*.def
*.dll
*.dylib
*.exe
*.exp
*.gcda
*.gcno
*.h.c
*.ilk
*.lib
*.pc
*.pdb
*.so
*.so.*
*.swp
*.ver
*.version
*.ptx
*.ptx.c
*_g
test.obj
\#*
.\#*
/.config
/.version
/ffmpeg
/ffplay
/ffprobe
/config.asm
/config.h
/coverage.info
/avversion.h
/lcov/
/src
/mapfile
/tools/python/__pycache__/
CONTRIBUTING.md
/host/
/doc/
/ffbuild/

libavcodec/bsf_list.c
libavcodec/codec_list.c
libavcodec/parser_list.c
libavdevice/indev_list.c
libavdevice/outdev_list.c
libavfilter/filter_list.c
libavformat/demuxer_list.c
libavformat/muxer_list.c
libavformat/protocol_list.c
libavutil/avconfig.h
libavutil/ffversion.h

._*
/.gitattributes
/.gitignore
/.mailmap
/.travis.yml
/.vscode/settings.json
